<mat-card class="details">
    <mat-card-title>Profile Details</mat-card-title>
    <br>
    <form [formGroup]="details" id="profile">
      <mat-form-field appearance="fill">
        <mat-label> First name </mat-label>
        <input matInput type="text" formControlName="first_name" placeholder="First name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> Last name </mat-label>
        <input matInput type="text" formControlName="last_name" placeholder="Last name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> Last name </mat-label>
        <input matInput type="text" formControlName="introduction" placeholder="introduction">
      </mat-form-field>

    </form>
  </mat-card>